<div th:fragment="navbarFragment">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="/admin/category/list?now_page=1">카테고리 목록</a>
          <a class="nav-link" href="/admin/shoes">신발 목록</a>
          <a class="nav-link" href="/admin/member">회원 목록</a>
          <a class="nav-link" href="/admin/inquiry">문의 내역</a>
          <a class="nav-link" href="/admin/report">신고 내역</a>
          <a class="nav-link" href="/admin/notice/list?now_page=1">공지 사항 목록</a>

        </ul>
        <ul class="navbar-nav">
          <a class="nav-link" href="/admin/login">로그인</a>
          <a class="nav-link" href="/admin/login">회원가입</a>
        </ul>
      </div>
    </div>
  </nav>

</div>