<html layout:decorate="~{layout}">
<!-- layout.html 상속-->

<body>
  <div layout:fragment="content">
    <div th:replace="~{fragment/infoSidebarFragment::infoSidebarFragment}"></div>
    <style type="text/css">
      button{
        width: 600px;
        height: 8rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: 3rem;
        font-family: GmarketSansMedium;
        font-weight: bold;
        border: 1px solid #bbb;
        background-color: #eeeeee;
      }
    </style>
    <div style="padding-left: 180px;">
      <div><button onclick="location.href='/member/inquiry/shoesinquiry'">신발 문의 하러가기</button></div>
      <div><button onclick="location.href='/member/inquiry/paymentinquiry'">주문 문의 하러가기</button></div>
      <div><button onclick="location.href='/member/inquiry/otherinquiry'">기타 문의 하러가기</button></div>
    </div> 
  </div>
  
</body>

</html>