<!DOCTYPE html>

<html layout:decorate="~{admin/layout}">
<!-- layout.html 상속-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 등록</title>
</head>

<body>
  <div layout:fragment="content">
    <div class='title_line'>
      공지사항 등록 >
      작성자 : <span>OOO</span>
    </div>
    <aside class="aside_right">
      <a href="/admin/notice/list?now_page=1">공지사항 목록</a>
      <span class="menu_devide">│</span>
      <a href="javascript: location.reload();">새로 고침</a>
    </aside>

    <form name="frm" th:object="${noticefileVO}" method="post" action="/admin/notice/create"
      style="width:50%; margin: 5px auto;" enctype="multipart/form-data">
      <div>
        <label>제목</label>
        <input type='text' name='title' placeholder = "공지사항 제목" autofocus="autofocus" class="form-control"
          style='width: 100%;' th:field="*{noticeVO.title}" required>
      </div>
      <div>
        <label>내용</label>
        <textarea name='content' required="required" class="form-control" rows="12" style='width: 100%;' th:field="*{noticeVO.contents}"> </textarea>
      </div>
      

      <div>
        <label>이미지</label>
        <input type='file' class="form-control" name='fileSelect' id='fileSelect' value='' placeholder="파일 선택">
      </div>
      
      
      <div>
        <label>패스워드</label>
        <input type='password' name='passwd' value='1234' required="required" class="form-control" style='width: 50%;'>
      </div>
      
       <div class="content_body_bottom">
          <button type="submit" class="btn btn-secondary btn-sm">등록</button>
          <button type="button" class="btn btn-secondary btn-sm"
            th:attr="onclick=|location.href='/admin/notice/list?now_page=1'|">취소</button>
      </div>
      
      <button type="button" onclick="see1()">see1</button>
      <button type="button" onclick="see2()">see2</button>
      
      <div>
        <div id="editor"></div>
        <script>
          const { Editor } = toastui;
          const { colorSyntax } = Editor.plugin;
          
          const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: 'auto',
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            language: 'ko',
            plugins: [colorSyntax]
          });
          
        function see1() {
          console.log("1");
            console.log(editor.getHTML());
        };
        
        function see2() {
          console.log("2");
            console.log(editor.getMarkdown());
        };
        </script>
      </div>
    </form>
  </div>
</body>

</html>