<div th:fragment="list_all_fragment">
  <!-- <div th:replace=... -->
  <table class="table table-hover">
    <colgroup>
      <col style='width: 10%;' />
      <col style='width: 25%;' />
      <col style='width: 15%;' />
      <col style='width: 15%;' />
      <col style='width: 15%;' />
      <col style='width: 20%;' />
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">번호</th>
        <th class="th_bs">제목</th>
        <th class="th_bs">작성일</th>
        <th class="th_bs">조회수</th>
        <th class="th_bs">작성자</th>
        <th class="th_bs">수정 / 삭제</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="noticememberVO, status:${list}">
        <td class="td_bs" th:text="|${(now_page-1) * 5 + status.index + 1}|"></td>
        <td class="td_bs"><a
            th:href="@{|/admin/notice/read/${noticememberVO.noticeno}?word=${word}&now_page=${now_page}|}"
            style="display: block;" th:text="${noticememberVO.title}"></a></td>
        <td class="td_bs"><a
            th:href="@{|/admin/notice/read/${noticememberVO.noticeno}?word=${word}&now_page=${now_page}|}"
            style="display: block;" th:text="${noticememberVO.rdate}"></a></td>
        <td class="td_bs" th:text="${noticememberVO.views}"></td>
        <td class="td_bs" th:text="${noticememberVO.nickname}"></td>
        <td class="td_bs">
          <a th:href="@{|/admin/notice/update/${noticememberVO.noticeno}?word=${word }&now_page=${now_page}|}"><img
              src="/admin/notice/images/update.png" class="icon"></a>
          <a th:href="@{|/admin/notice/delete/${noticememberVO.noticeno}?word=${word}&now_page=${now_page}|}"><img
              src="/admin/notice/images/delete.png" class="icon"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 -->

</div>