<div th:fragment="list_all_fragment">
  <!-- <div th:replace=... -->
  <body>
    <div class="container mt-3" >
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h4>신발 목록</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 15%;">신발 번호</th>
                            <th style="width: 20%;">제목</th>
                            <th style="width: 15%;">브랜드명</th>
                            <th style="width: 10%;">가격</th>
                            <th style="width: 30%;">설명</th>
                            <th style="width: 15%;">판매여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="shoesVO : ${list}">
                            <td th:text="${shoesVO.shoesno}"></td>
                            <td><a th:href="@{|/admin/shoes/admin_read/${shoesVO.shoesno}|}" style="display: block;" th:text="${shoesVO.title}"></a></td>
                            <td th:text="${shoesVO.brand}"></td>
                            <td th:text="${shoesVO.price}"></td>
                            <td th:text="${shoesVO.contents}"></td>
                            <td th:text="${shoesVO.visible}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 -->
</div>