<div th:fragment="list_all_fragment">
  <style type="text/css">
    .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .active,
    .collapsible:hover {
      background-color: #555;
    }

    .contents {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
    }

    .clearfix::after {
      content: '';
      display: block;
      clear: both;
    }

    .active:after {
      content: "\2212";
    }

    .color-white {
      color: white;
    }

    .block {
      display: block;
    }
  </style>
  <!--/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/-->
  <th:block th:each="paymentTotal : ${list}">
    <div>
      <button type="button" class="collapsible" th:onclick="fetchList(this, [[${paymentTotal.memberno}]]);">
        <div style="display: flex; justify-content: space-around;">
          <span class="color-white" th:text="|회원번호: ${paymentTotal.memberno}|"></span>
          <span class="color-white" th:text="|회원ID: ${paymentTotal.memberid}|"></span>
          <span class="color-white" th:text="|회원닉네임: ${paymentTotal.nickname}|"></span>
        </div>
      </button>
      <div class="contents" id="btnDiv"></div>
    </div>
  </th:block>
  <!--/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/-->

  <div class="bottom_menu" th:utext="${paging}"></div>

  <script>
    function fetchList(button, memberno) {
  const contentsDiv = button.nextElementSibling;

  if (button.classList.contains("active")) {
    // 버튼이 활성화 상태일 경우 내용을 닫습니다.
    contentsDiv.style.maxHeight = null;
    button.classList.remove("active");
  } else {
    // 버튼이 활성화 상태가 아닐 경우 AJAX 요청을 보냅니다.
    // AJAX 요청을 보내기 전에 기존 내용을 초기화합니다.
    contentsDiv.innerHTML = '';

    fetch(`./list/${memberno}`, {
      method: 'GET',
      headers: {
        "Content-Type": "application/json",
      }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok' + response.statusText);
      }
      return response.text();
    })
    .then(data => {
      console.log(data);
      contentsDiv.innerHTML = data;

      // 모든 활성화된 버튼과 내용을 축소합니다.
      document.querySelectorAll('.collapsible.active').forEach(activeButton => {
        activeButton.classList.remove('active');
        activeButton.nextElementSibling.style.maxHeight = null;
      });

      // 버튼을 활성화하고 내용을 확장합니다.
      button.classList.add("active");
      contentsDiv.style.maxHeight = contentsDiv.scrollHeight + "px";
    })
    .catch(error => {
      alert('리스트를 가져오는 데 실패했습니다.');
      console.error("ERROR:", error);
    });
  }
}


    function collapseChild(element) {
      let before = document.querySelector(".activeChild");
      if (before && document.querySelector(".activeChild") != element) {
        before.nextElementSibling.style.maxHeight = null;
        before.classList.remove("activeChild");
      }
      element.classList.toggle("activeChild");

      let contents = element.nextElementSibling;
      if (contents.style.maxHeight != 0) {
        contents.style.maxHeight = null;
      } else {
        let parent = element.parentNode;
        let height = contents.scrollHeight + element.scrollHeight + parent.scrollHeight;
        parent.style.maxHeight = height + "px";
        contents.style.maxHeight = contents.scrollHeight + "px";
      }
    }

    function submit(btn) {
      let grandparentDiv = btn.closest('#btnDiv');
      let parentDiv = btn.closest('.clearfix');

      let span = grandparentDiv.querySelector('.collapsible > div > div > span');
      let paymentno = span.textContent.trim().match(/\d+/)[0];

      let payment_status = parentDiv.querySelector('div:nth-child(2) > div:nth-child(1) > select[name=payment_status] option:checked').value;
      let status = parentDiv.querySelector('div:nth-child(2) > div:nth-child(2) > select[name=status] option:checked').value;
      let cs_status = parentDiv.querySelector('div:nth-child(2) > div:nth-child(3) > select[name=cs_status] option:checked').value;

      let payment_status_span = grandparentDiv.querySelector('.collapsible > div > div:nth-child(2) > span:nth-child(1)');
      let status_span = grandparentDiv.querySelector('.collapsible > div > div:nth-child(2) > span:nth-child(2)');
      let cs_status_span = grandparentDiv.querySelector('.collapsible > div > div:nth-child(2) > span:nth-child(3)');

      fetch('./update', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          paymentno: paymentno,
          payment_status: payment_status,
          status: status,
          cs_status: cs_status
        }),
      })
      .then((response) => {
        if (!response.ok) {
          throw new Error('Network response was not ok' + response.statusText);
        }
        return response.text();
      })
      .then((data) => {
        payment_status_span.innerHTML = '결제상태: ' + payment_status;
        status_span.innerHTML = '주문상태: ' + status;
        cs_status_span.innerHTML = 'C S 상태: ' + cs_status;
        console.log('ok');
      })
      .catch((error) => {
        alert('주문정보 업데이트에 실패하였습니다.');
        console.log("ERROR:" + error);
      });
    }
  </script>
</div>
