<div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
  <div style="text-align: right; clear: both;">
    <form name="frm_search" method="post" th:action="@{/admin/payment/list(now_page=${param.now_page})}">
      <select style="height: 2rem;">
        <option>Id + Nickname</option>
      </select>
      <input type="text" name="word" id="word" th:value="${param.word}" style="height: 2rem;">
      <button type='submit' class='btn btn-secondary btn-sm' style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;">검색</button>
      <th:block th:if="${not #strings.isEmpty(param.word)}">
        <button type='button' class='btn btn-secondary btn-sm' style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;" th:onclick="location.href='/admin/payment/list'">검색 취소</button>
      </th:block>  
    </form>
  </div>
</div>
