<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    <span class="nav-link" onclick="history.back()"> &lt; </span> 장바구니
  </div>
  <aside class="aside_right">
    <a href="/shoes/list_all?now_page=1">목록</a>
    <span class="menu_devide">│</span>
    <a href="/shoes/create">등록</a>
    <span class="menu_devide">│</span>
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  <div class="top_menu_line"></div>
  <div id='panel_delete'
    style='padding: 10px 0px 10px 0px; background-color: #F9F9F9; width: 100%; text-align: center;'>

      <script src="/js/basket.js"></script>
      <p style="font-size: 20px;">장바구니 담은 메뉴</p>
      <div class="basket">
        <img src="/images/crocs.jpg" alt="장바구니1">
        <div class="description">
          <p>설명</p>
          <p>크록스</p>
          <div class="quantity-control">
            <button class="quantity-btn" onclick="decreaseQuantity()">-</button>
            <span id="product1_quantity" class="quantity">1</span>
            <button class="quantity-btn" onclick="increaseQuantity()">+</button>
          </div>
          <p>가격</p>
          <button style="width:300px;">장바구니 취소</button>
        </div>
      </div>

      <div class="basket">
        <img src="/images/crocs.jpg" alt="장바구니2">
        <div class="description">
          <p>설명</p>
          <p>크록스</p>
          <div class="quantity-control">
            <button class="quantity-btn" onclick="decreaseQuantity()">-</button>
            <span id="product1_quantity" class="quantity">1</span>
            <button class="quantity-btn" onclick="increaseQuantity()">+</button>
          </div>
          <p>가격</p>
          <button style="width:300px;">장바구니 취소</button>
        </div>
      </div>

      <div class="basket">
        <img src="/images/crocs.jpg" alt="장바구니3">
        <div class="description">
          <p>설명</p>
          <p>크록스</p>
          <div class="quantity-control">
            <button class="quantity-btn" onclick="decreaseQuantity()">-</button>
            <span class="quantity">1</span>
            <button class="quantity-btn" onclick="increaseQuantity()">+</button>
          </div>
          <p>가격</p>
          <button style="width:300px;">장바구니 취소</button>
        </div>
      </div>

  </div>

</div>
<!-- /templates/cate/list_all_component.html 파일의 list_all_fragment import -->

</div>

</html>