<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    <span class="nav-link" onclick="history.back()"> &lt; </span> 장바구니
  </div>
  <aside class="aside_right">
    <a href="/shoes/list_all?now_page=1">목록</a>
    <span class="menu_devide">│</span>
    <a href="/shoes/create">등록</a>
    <span class="menu_devide">│</span>
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  <div class="top_menu_line"></div>
  <div id='panel_delete'
    style='padding: 10px 0px 10px 0px; background-color: #F9F9F9; width: 100%; text-align: center;'>

      <p style="font-size: 20px;">장바구니 담은 메뉴</p>
      <div class="basket">
        <img src="/images/crocs.jpg" alt="장바구니1">
        <div class="list" th:each="basketVO, status:${list}">
          <p><span th:text="${ShoesAllVO.basketVO.basketno}"></span></p>
          <p><span th:text="${ShoesAllVO.optionVO.sizes}"></span></p>
          <p><span th:text="${ShoesAllVO.optionVO.color}"></span></p>
          <p><span th:text="${ShoesAllVO.shoesVO.title}"></span></p>
          <p><span th:text="${ShoesAllVO.shoesVO.brand}"></span></p>
          <p><span th:text="${ShoesAllVO.shoesVO.discount}"></span></p>
          <p><span th:text="${ShoesAllVO.shoesVO.contents}"></span></p>
          <div class="quantity-control">
            <button class="quantity-btn" onclick="decreaseQuantity()">-</button>
            <span id="product1_quantity" class="quantity"  th:text="${ShoesAllVO.basketVO.amount}"></span>
            <button class="quantity-btn" onclick="increaseQuantity()">+</button>
          </div>
         <p>금액:<span th:text="${ShoesAllVO.shoesVO.price}"></span></p>
          <button style="width:300px;">장바구니 취소</button>
        </div>
      </div>


  </div>

</div>
<!-- /templates/cate/list_all_component.html 파일의 list_all_fragment import -->

</div>

</html>