<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">


  <div id="panel_delete">
    <p class="panel-title">장바구니 담은 메뉴</p>
    <div class="basket-list">
      <div class="basket" th:each="ShoesAllVO, status:${list}">
        <div class="item-details">
          <img class="basket_img" src="/images/crocs.jpg" alt="장바구니1">
          <div class="item-info">
            <input type="hidden" class="basketno" th:value="${ShoesAllVO.basketVO.basketno}">
            <input type="hidden" class="price" th:value="${ShoesAllVO.shoesVO.price}">
            <p class="item-title" th:text="${ShoesAllVO.shoesVO.title}"></p>
            <p class="item-option"><span>색상:</span> <span th:text="${ShoesAllVO.optionVO.color}"></span></p>
            <p class="item-option"><span>사이즈:</span> <span th:text="${ShoesAllVO.optionVO.sizes}"></span></p>
            <div class="quantity-control">
              <button class="quantity-btn decrease" onclick="decreaseQuantity()">-</button>
              <span class="quantity" th:text="${ShoesAllVO.basketVO.amount}"></span>
              <button class="quantity-btn increase" onclick="increaseQuantity()">+</button>
            </div>
            <p class="item-total">금액: <span class="total"
                th:text="${ShoesAllVO.shoesVO.price * ShoesAllVO.basketVO.amount}"></span>원</p>
          </div>
        </div>
        <button class="basket_btn">장바구니 취소</button>
      </div>
    </div>
  </div>
  <script src="/js/basket.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div>

</html>