  /* ver 2.4 2024_0426 */

  /* 폰트 선언 */
  @font-face {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  /* 모든 태그에 적용 */
  * {
    font-family: TTHakgyoansimMonggeulmonggeulR;
    font-size: 14px;
    margin: 0px;
    /* top right bottom left */
    padding: 0px;
    color: #555555;
  }

  .headTop {
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px 0;
  }

   .main_inner{
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    word-break: break-all;
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    min-width: 320px;
    padding: 20px 40px;
  }
.gnb_list {
   text-align: right; 
   margin: 0 auto;
   margin-right: 10px;
    display: inline-block; /* flexbox를 사용하여 아이템들을 가로로 배치합니다. */
    justify-content: space-around; /* 아이템들을 동일한 간격으로 가로 정렬합니다. */
    list-style: none; /* 목록의 기본 스타일을 제거합니다. */
    padding: 0; /* 목록의 패딩을 제거합니다. */
}
.gnb_item {
   width: 100px;
   display: inline-block;
   text-align: center;
   margin:0 auto;
    justify-content: center; /* 아이콘을 가운데 정렬합니다. */
    align-items: center; /* 아이콘을 수직으로 가운데 정렬합니다. */
}
  .container_main {
    width: 98%;
    margin: 5px auto;
    color: blue;
  }

  /* 이미지 사용시 경로 지정
  /static/css/images/top_1920_400.jpg
  */
  .top_menu_img {
    width: 300px;
    height: 400px;
    background-image: url('./images/main.jpg');
    background-size: cover;
    /* 이미지를 화면에 맞게 자동으로 조정합니다 */
    background-position: center;
    /* 이미지를 가운데 정렬합니다 */
    background-repeat: no-repeat;
    /* 이미지 반복을 방지합니다 */
    margin-bottom: 0px;
    margin: 0 auto;
  }

  .top_bnn {
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #e3f2fd;
    color: #000000;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    font-style: italic;
    z-index: 31;
  }

  .mymenu {
    list-style-type: none;
    /* 목록 기호 제거 */
    margin-right: 20px;
    /* 외부 여백 제거 */
    padding: 0;
    /* 내부 여백 제거 */
    float:right;
  }

  .mymenu li {
    display: inline-block;
    /* 요소들을 가로로 나란히 배치 */
  }
    .mymenu a{
    font-size: 20px;
    font-style:oblique;
      /* 요소들을 가로로 나란히 배치 */
  }

  .mymenu li:not(:last-child) {
    margin-right: 20px;
    /* 마지막 요소를 제외한 나머지 요소들 사이의 간격 설정 */
  }

  .top_menu_label {
    position: relative;
    /* 속해 있는 부모 태그 기준 설정 */
    top: 50%;
    left: 0%;
    color: black;
    font-size: 2em;
    text-align: center;
    font-style: italic;
  }

  .top_menu {
    position: relative;
    /* 부모 태그 기준, 화면 상단 기준*/
    top: 52%;
    background-color: rgba(50, 50, 50, 0.3);
    /* 0.1: Alpha, 투명도 */
    color: white;
    padding-top: 2px;
    padding-left: 10px;
    height: 22px;
  }

  /* 화면 상단 메뉴 세로 구분선
     <span class='top_menu_sep'>&nbsp;</span> */
  .top_menu_sep {
    background: url('/css/images/gray.jpg') center center no-repeat;
    background-size: 1px;
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .shoes {
    display: inline-block;
    /* 요소들을 가로로 나열하기 위해 플렉스 박스로 설정합니다 */
    align-items: center;
    margin-top: 15px;
    text-align: center;
    /* 요소들을 세로 중앙 정렬합니다 */
  }


  .shoes img {
    width: 300px;
    /* 이미지의 너비를 조절합니다 */
    height: 300px;
    border: 1px solid black;
    /* 이미지의 높이를 조절합니다 */
    border-radius: 0%;
    margin-right: 40px;
    /* 이미지와 텍스트 사이의 간격을 조정합니다 */
  }

  .shoes p {
    width: 100px;
    text-align: left;
    margin: 0;
    /* 문단의 기본 마진을 없앱니다 */
    font-size: 12px;
    /* 텍스트의 크기를 설정합니다 */
    font-weight: inherit;
    /* 텍스트를 굵게 표시합니다 */
  }

  .dropdown-menu {
    width: 60px;

  }
  .dropdown-item{
         border: 1px solid black; 
  }
  .footer {
    background-color: red;
    /* Footer 배경색 */
    color: #fff;
    /* 텍스트 색상 */
    padding: 20px;
    /* Footer의 위아래 왼쪽 오른쪽에 각각 20px의 여백 추가 */
    text-align: center;
    /* 텍스트 가운데 정렬 */
    position: fixed;
    /* 화면 하단에 고정 */
    bottom: 0;
    /* 화면 하단에 위치 */
    width: 100%;
    /* 가로 너비를 화면 전체로 설정 */
  }

  .section cs {
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    float: left;
    width: 22%;
  }

  .section bank {
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    float: left;
    width: 18%;
  }

  .section company {
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    float: left;
    width: 27%;
  }

  .section return {
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    float: left;
  }

  .navbar-nav {
    width: 100%;
    justify-content: center;
    /* 이 부분을 추가하여 가로로 나열합니다 */
  }

  .navbar-nav .nav-item {
    margin-right: 15px;
    flex-direction: row;
    margin: 10px;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu_line {
    width: 300px;
    margin: 0px 0px 10px 0px;
    /* top -> right -> bottom -> left */
    clear: both;
    border-bottom: 0.5px solid #000;
    /* 아래쪽에 검은색 실선 테두리를 추가합니다 */
    padding-bottom: 5px;
    /* 아래쪽 여백을 추가하여 라인과 메뉴 아이템 사이의 간격을 조정합니다 */
  }
  
    .top_menu_line {
    width: 100%;
    margin: 0px 0px 10px 0px;
    /* top -> right -> bottom -> left */
    clear: both;
    border-bottom: 0.5px solid #000;
    /* 아래쪽에 검은색 실선 테두리를 추가합니다 */
    padding-bottom: 5px;
    /* 아래쪽 여백을 추가하여 라인과 메뉴 아이템 사이의 간격을 조정합니다 */
  }

  .left_menu {
    width: 15%;
    float: left;
  }

  .content {
    width: 90%;
    margin: 10px auto;
  }

  .content_body {
    width: 90%;
    margin: 10px auto;
  }

  .content_body {
    width: 90%;
    color: red;
    margin: 10px auto;
   display: flex;
       align-items: center; /* 세로 방향 가운데 정렬 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
  }
  .content_category {
    width: 10%;
    /* 요소의 너비를 10%로 설정합니다. */
    max-width: 100px;
    /* 요소의 최대 너비를 100px로 설정합니다. */
    display: inline-block;
    text-align: center;
    vertical-align: top;
    /* 요소를 위쪽으로 정렬합니다. */
    margin: 0 auto;
  }

  .content_category p {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }

  .content_categorytop {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .content_categorytop a {
    width: 100%;
    text-align: right;
    font-size: 25px;
    margin-left: 10px;
  }

  .rounded-image {
    border-radius: 45%;
    /* 50%로 설정하여 이미지를 원형으로 만듭니다 */
    
  }

  .gnb_list {
    text-align: right;
    margin: 0 auto;
    margin-right: 10px;
    display: inline-block;
    /* flexbox를 사용하여 아이템들을 가로로 배치합니다. */
    justify-content: space-around;
    /* 아이템들을 동일한 간격으로 가로 정렬합니다. */
    list-style: none;
    /* 목록의 기본 스타일을 제거합니다. */
    padding: 0;
    /* 목록의 패딩을 제거합니다. */
  }

  .gnb_item {
    width: 100px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    /* 아이콘을 가운데 정렬합니다. */
    align-items: center;
    /* 아이콘을 수직으로 가운데 정렬합니다. */
  }

  /* 화면 내용 하단 메뉴 우측 배치 */

  .content_body_bottom {
    display: inline-block;
    justify-content: space-between;
    /* 아이템들을 동일한 간격으로 가로로 배치 */
    flex-wrap: wrap;
    clear: both;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    background-color: white;
  }

  .footer_section {
    flex: 1;
    /* 가로 공간을 고르게 분배 */
    max-width: 100%;
    /* 최대 너비 설정 */
  }

  .footer_section h3,
  .footer_section ul {
    margin: 0;
    /* 제목과 목록의 위아래 여백 제거 */
  }

  .bottom_menu {
    text-align: center;
    margin: 20px auto;
    clear: both;
    /* 앞쪽 태그의 float 효과를 제거함. */
  }

  .aside_left {
    float: left;
    font-size: 1.3em;
  }

  /** 본래의 A 태그의 크기를 제거하고 부모의 가변 크기를 사용 */
  .aside_left A {
    font-size: 1.0em;
  }

  .aside_right {
    float: right;
    font-size: 0.9em;
    /* 부모 글꼴 크기 대비 90%로 출력 */
  }

  .aside_right A {
    font-size: 1.0em;
  }

  /* ASIDE 메뉴 세로 구분선 */
  .menu_divide {
    /* 서브 메뉴의 세로 구분선 */
    color: #777777;
    font-size: 0.8em;
    /* 부모 글자 크기에 비해서 80%로 출력 */
    vertical-align: 10%;
    /* 0%는 bottom 기준 */
  }

  .copyright {
    margin-top: 10px;
    border-top: solid 1px #999999;
    text-align: center;
    clear: both;
    /* 앞쪽 태그의 float 효과를 제거함. */
  }

  .li_none {
    list-style: none;
    margin: 15px 10px;
  }

  .li_none_left {
    text-align: left;
    list-style: none;
    margin: 15px 10px;
  }

  .li_warning {
    /* 경고 메시지 */
    list-style: none;
    margin: 15px 10px;
    color: #FF6600;
  }

  .li_error {
    /* 에러 메시지 */
    list-style: none;
    margin: 15px 10px;
    color: #FF0000;
  }

  .li_right {
    text-align: right;
    list-style: none;
    margin: 20px auto;
    padding-right: 20px;
  }

  .fieldset_basic {
    width: 90%;
    margin: 10px auto;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 10px;
  }

  .legend_basic {
    margin-left: 30px;
    border: solid 1px #999999;
    background-color: #A6C2FF;
    color: #FFFFFF;
  }

  .input_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #999999;
    border-left: none;
    padding-left: 2px;
  }

  .textarea_basic {
    border-top: solid 1px #999999;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #999999;
    padding-left: 2px;
  }

  .title_line {
    text-align: center;
    border-bottom: solid 3px #555555;
    width: 100%;
    margin: 30px auto;
    font-size: 25px;
  }

  .title_line_text {
    font-size: 25px;
  }

  .title_link:link {
    /* 방문전 상태 */
    font-size: 20px;
    text-decoration: none;
    /* 밑줄 삭제 */
  }

  .title_link:visited {
    /* 방문후 상태 */
    font-size: 20px;
    text-decoration: none;
    /* 밑줄 삭제 */
  }

  .title_link:hover {
    /* A 태그에 마우스가 올라간 상태 */
    font-size: 20px;
    text-decoration: none;
    /* 밑줄 삭제 */
  }

  .title_link:active {
    /* A 태그를 클릭한 상태 */
    font-size: 20px;
    text-decoration: none;
    /* 밑줄 삭제 */
  }


  .sub_menu {
    text-align: right;
    width: 100%;
  }

  .table_basic {
    border-collapse: collapse;
    margin: 2px auto;
    width: 100%;
  }

  /* 1em 기본값 : 16px, 주변 태그의 글자크기를 1em으로 인식
      DIV 태그가 20px 일경우 자식태그가 0.5em이면 최종적으로 10px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1em이면 최종적으로 20px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1.5em이면 최종적으로 30px이 적용됨.
  */
  .th_basic {
    font-size: 0.8em;
    border-bottom: solid 3px #DDDDDD;
  }

  .th_bs {
    text-align: center;
  }

  .td_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: center;
  }

  .td_left {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: left;
  }

  .td_bs {
    text-align: center;
    vertical-align: middle;
  }

  .td_bs_left {
    text-align: left;
    vertical-align: middle;
  }

  a:link {
    /* 방문전 상태 */
    text-decoration: none;
    /* 밑줄 삭제 */
    color: #555555;
  }

  a:visited {
    /* 방문후 상태 */
    text-decoration: none;
    /* 밑줄 삭제 */
    color: #555555;
  }

  a:hover {
    /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline;
    /* 밑줄 출력 */
    color: #7777FF;
  }

  a:active {
    /* A 태그를 클릭한 상태 */
    text-decoration: underline;
    /* 밑줄 출력 */
    color: #7777FF;
  }

  .menu_link:link {
    /* 방문전 상태 */
    text-decoration: none;
    /* 밑줄 삭제 */
    color: white;
  }

  .menu_link:visited {
    /* 방문후 상태 */
    text-decoration: none;
    /* 밑줄 삭제 */
    color: white;
  }

  .menu_link:hover {
    /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline;
    /* 밑줄 출력 */
    color: white;
  }

  .menu_link:active {
    /* A 태그를 클릭한 상태 */
    text-decoration: underline;
    /* 밑줄 출력 */
    color: white;
  }

  .recom_link:link {
    /* 방문전 상태 */
    text-decoration: none;
    /* 밑줄 삭제 */
    color: #555555;
    font-size: 0.8em;
  }

  .recom_link:visited {
    /* 방문후 상태 */
    text-decoration: none;
    /* 밑줄 삭제 */
    color: #555555;
    font-size: 0.8em;
  }

  .recom_link:hover {
    /* A 태그에 마우스가 올라간 상태 */
    text-decoration: none;
    /* 밑줄 출력 */
    color: #7777FF;
    font-size: 0.8em;
  }

  .recom_link:active {
    /* A 태그를 클릭한 상태 */
    text-decoration: none;
    /* 밑줄 출력 */
    color: #7777FF;
    font-size: 0.8em;
  }

  .content_title {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    margin-bottom: 20px;
  }

  .content_bottom {
    width: 90%;
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    max-width: 1360px;
    margin: 10px;
    padding: 60px 0;
    border-top: 0;
  }

  .li_left_menu_1 {
    /* 화면 좌측 대분류 */
    list-style: none;
    margin-top: 25px;
    background: url(/css/images/li_left_menu_1.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }

  .li_left_menu_2 {
    /* 화면 좌측 중분류 */
    list-style: none;
    margin: 15px 10px;
    background: url(/css/images/li_left_menu_2.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }

  .label_basic {
    width: 200px;
    background-color: #99cc00;
    color: #FFFFFF;
    font-weight: normal;
    display: inline-block;
    /* DIV 태그처럼 한줄의 영역을 블럭 영역으로 확장 표시 */
    text-align: right;
    padding-right: 10px;
  }

  /* 기타 메시지 */
  .message {
    font-weight: bold;
    width: 70%;
    border: none;
    margin: 30px auto;
    text-align: center;
    background-color: #FAFAFA;
    padding: 30px;

  }

  /* 알림 메시지 */
  .span_info {
    color: #ffffff;
    background-color: rgba(0, 150, 0, 0.6);
    padding: 2px;
    margin-top: 2px;
  }

  /* 주의 메시지 */
  .span_alert {
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 200, 0.6);
    padding: 2px;
    margin-top: 2px;
  }

  /* 경고 메시지
      background-color: rgba(255, 0, 0, 0.6); */
  .span_warning {
    font-weight: bold;
    color: #FF0000;
    padding: 2px;
    margin-top: 2px;
  }

  .msg_warning {
    font-weight: bold;
    color: #FF0000;
    padding: 2px;
    font-size: 15px;
    margin: 10px auto;
    text-align: center;
    width: 80%;
    margin-top: 2px;
  }

  /* 처리 성공 메시지 */
  .span_success {
    font-weight: bold;
    background: url('/css/images/url5.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 2px;
  }

  .headli {
    font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  /* 처리 실패 메시지 */
  .span_fail {
    font-weight: bold;
    background: url('/css/images/url8.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 2px;
  }

  .cart_label {
    width: 50%;
    text-align: left;
    float: left;
    font-size: 1.5em;
  }

  .cart_price {
    width: 50%;
    text-align: right;
    float: left;
    font-size: 1.5em;
  }

  .icon {
    width: 16px;
  }

  .form_input {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .form_input_bottom {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
  }

  .display_table {
    color: #FFFFFF;
    background-color: #FFFFFF;
    width: 50%;
    height: 200px;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
    display: table;
  }

  .display_table_cell {
    color: #000000;
    background-color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
  }