<div th:fragment="footerFragment">


  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 CDN 링크 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 부트스트랩 JS 및 jQuery CDN 링크 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="Stylesheet" type="text/css"> <!-- /static 기준 -->
  </head>

  <body>
   <div class='content_body_bottom'>


      <div class="footer_section">
        <div class="section return">

          <p class="copyright">Copyright ⓒ 발걸음 All Rights Reserved</p>
          <h3 class="info_tit">CUSTOMER CENTER</h3>
          <strong class="phone">00-0000-0000</strong>
          <p class="runtime">mon - fri AM 09:00 ~ PM 16:00<br>breaktime PM 12:00 ~ PM 13:00<br>Sat, Sun, Red day off</p>
          <ul class="cs_btn">
            <li><a href="/board/free/list.html?board_no=1">NOTICE</a></li>
            <li><a href="/board/product/list.html?board_no=6">Q&amp;A</a></li>

            <h3 class="info_tit">GUIDE</h3>
            <ul class="guide_menu">
              <li><a href="/member/agreement.html">AGREEMENT</a></li>
              <li><a href="/member/privacy.html">PRIVACY POLICY</a></li>
              <li><a href="/shopinfo/guide.html">SHOP GUIDE</a></li>
            </ul>
          </ul>





        </div>
        <div class="section bank">

          <select class="bank_site" name="select2" onchange="if(this.value) {window.open(value,'_blank')}">
            <option selected="">인터넷뱅킹 바로가기</option>
            <option value="https://www.kbstar.com/">국민은행</option>
            <option value="https://banking.nonghyup.com/nhbank.html">농협</option>
            <option value="https://www.wooribank.com/">우리은행</option>
            <option value="https://mybank.ibk.co.kr/uib/jsp/index.jsp">IBK기업은행</option>
            <option value="https://www.kebhana.com/">하나은행</option>
            <option value="https://bizbank.shinhan.com/index.jsp">신한은행</option>
            <option value="https://www.standardchartered.co.kr/np/kr/cms/pl/wb/Internetbanking.jsp">SC제일은행</option>
            <option value="https://www.epostbank.go.kr/">우체국</option>
            <option value="https://suhyup-bank.com/">수협은행</option>
            <option value="https://ibank.busanbank.co.kr/ib20/mnu/PEB00001">부산은행</option>
            <option value="https://www.knbank.co.kr/ib20/mnu/BHP000000000001">경남은행</option>
            <option value="https://pib.kjbank.com/ib20/mnu/BPB0000000001">광주은행</option>
            <option value="https://www.jbbank.co.kr/MAIN.act?_MENU_PRJ_TYPE_=PLIBS">전북은행</option>
            <option value="https://www.dgb.co.kr/dgb_ebz_main.jsp">대구은행</option>
          </select>
        </div>


        <div class="section company ">
          <h3 class="info_tit">COMPANY</h3>
          <p><span>상호 발걸음</span><span>대표 000</span><span>고객센터 02-0000-0000</span></p>
          <p><span>주소 0000000 발걸음</span></p>
          <p><span>사업자등록번호 000-00-000000</span><a class="btn_biz"
              href="http://www.ftc.go.kr/info/bizinfo/communicationList.jsp" target="_blank"> [사업자정보확인]</a></p>
          <p><span>통신판매업번호 제 00000-0000-00000 호</span></p>
          <p><span>개인정보책임관리자 000(@)</span></p>
          <p><span>이메일주소 <a href="mailto:lovelyshoes7@naver.com">@</a></span></p>
          <p><span>교환/반품주소 : (발걸음)</span></p>

        </div>
  </div>


  </body>

  </html>

  </nav>

</div>