<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; margin:40px auto; text-align: center;">

  <link href="/fotorama/fotorama.css" rel="stylesheet">
  <script src="/fotorama/fotorama.js"></script>

  <!--포토라마 -->

<div class="fotorama" data-nav="thumbs" data-width="100%" data-height="auto">
  <a href="/ASP/Event/EventView.asp?EventIDX=3179&amp;utm_source=Banner&amp;utm_medium=Main&amp;utm_campaign=NIKE 더플백" target="_blank">
    <img src="/images/nike.jpg" alt="NIKE 더플백">
    <div class="fotorama-caption">
      <p class="title">나이키 더플백</p>
      <span class="subtitle">운동, 피크닉, 여행 다용도 가방!</span>
    </div>
  </a>
  <a href="/ASP/Event/EventView.asp?EventIDX=3041&amp;utm_source=Banner&amp;utm_medium=Main&amp;utm_campaign=PB_클라우드제로 무료 반품 기획전" target="_blank">
    <img src="https://cdn.shoemarker.co.kr/Upload/Banner/Main/Main01/PCImage3_4263_20240223113757.jpg" alt="PB_클라우드제로 무료 반품 기획전">
    <div class="fotorama-caption">
      <p class="title">신어보고 판단하세요!</p>
      <span class="subtitle">클라우드 제로 30일 무상반품</span>
    </div>
  </a>
  <a href="/ASP/Event/EventAttend_New.asp?utm_source=Banner&amp;utm_medium=Main&amp;utm_campaign=출석체크(5월)" target="_blank">
    <img src="https://cdn.shoemarker.co.kr/Upload/Banner/Main/Main01/PCImage3_4520.jpg" alt="출석체크(5월)">
  </a>
  <a href="/ASP/Event/AddPage/EventView_2405SSD-main.asp?EventIDX=3160&amp;utm_source=Banner&amp;utm_medium=Main&amp;utm_campaign=24년5월 슈퍼슈마커데이 메인" target="_blank">
    <img src="https://cdn.shoemarker.co.kr/Upload/Banner/Main/Main01/PCImage3_4545_20240517112824.jpg" alt="24년5월 슈퍼슈마커데이 메인">
  </a>
  <a href="/ASP/Event/EventView.asp?EventIDX=3168&amp;utm_source=Banner&amp;utm_medium=Main&amp;utm_campaign=채정안tv pick" target="_blank">
    <img src="https://cdn.shoemarker.co.kr/Upload/Banner/Main/Main01/PCImage3_4523.jpg" alt="채정안tv pick">
    <div class="fotorama-caption">
      <p class="title">클라우드 제로 X 채정안TV</p>
      <span class="subtitle">채정안이 만보걷기 성공한 신발은?? </span>
    </div>
  </a>
</div>

<!-- 포토라마 끝 -->
    <div>
      <div class="content_body">
        <div class="shoes">
          <img src="/images/crocs.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/vans.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/crocs.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/nike2.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
      </div>

      <div class="content_body">
        <div class="shoes">
          <img src="/images/adidas.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름1</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/slipper.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름2</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/NB.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름3</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/nike.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름4</p>
          <p>가격</p>
        </div>
      </div>


      <div class="content_body">
        <div class="shoes">
          <img src="/images/VLTN.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름1</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/puma.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름2</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/roper.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름3</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/sandals.jpg" alt="프로필 이미지">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름4</p>
          <p>가격</p>
        </div>
      </div>


    </div>


</html>