<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; margin:40px auto; text-align: center;">
  <div>
    <div class="shoes">
      <img src="/images/crocs.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>크록스</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/vans.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>크록스</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/crocs.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>크록스</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/nike2.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>크록스</p>
      <p>가격</p>
    </div>
  </div>

  <div>
    <div class="shoes">
      <img src="/images/adidas.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름1</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/slipper.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름2</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/NB.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름3</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/nike.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름4</p>
      <p>가격</p>
    </div>
  </div>
  
  
   <div>
    <div class="shoes">
      <img src="/images/VLTN.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름1</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/puma.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름2</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/roper.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름3</p>
      <p>가격</p>
    </div>
    <div class="shoes">
      <img src="/images/sandals.jpg" alt="프로필 이미지">
      <p>설명</p>
      <div class="menu_line"></div>
      <p>사용자 이름4</p>
      <p>가격</p>
    </div>
  </div>


</div>


</html>