<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content">
  <table class="table table-hover" style="width:70%; margin: 0 auto;">
    <h2>최근기록 10건만 저장됩니다.</h2>
    <colgroup>
      <col style="width: 10%;" />
      <col style="width: 45%;" />
      <col style="width: 45%;" />
    </colgroup>
    <tr>
      <th style="text-align: center;">번호</th>
      <th style="text-align: center;">IP주소</th>
      <th style='text-align: center;'>접속일</th>
    </tr>
    
    <tr th:each="lh : ${list}" style="cursor: pointer; height: 70px; vertical-align: middle;">
      <td class="td_basic" style="align-content: center;" th:text="${lhStat.count}"></td>
      <td class="td_basic" style="align-content: center;" th:text="${lh.ip}"></td>
      <td class="td_basic" style="align-content: center;" th:text="${#dates.format(lh.rdate, 'yyyy년/MM월/dd일 HH:mm:ss')}"></td>
    </tr>
  </table>
</div>
</html>