<div th:fragment="paymentinquiry_fragment">

  <div id="paymentpopup" class="paymentpopup">
    <div class="paymentpopup-content">
      <span class="payment-close-btn">&times;</span>
      <h2>문의 유형 : 신발</h2>
      <span>문의 신발</span>
      <div class="mb-3">
        <label for="inquiryTitle" class="form-label">문의 제목:</label>
        <input type="text" class="form-control" id="inquiryTitle" name="inquiryTitle" required>
      </div>

      <!-- 신고 내용 입력란 -->
      <div class="mb-3">
        <label for="inquiryContents" class="form-label">문의 내용:</label>
        <textarea class="form-control" required="required" id="inquiryContents" name="inquiryContents"
          rows="4"></textarea>
      </div>

      <button type="button" class="btn btn-secondary" id="createInquiry">신고하기</button>
    </div>
    <script src="/js/inquiry/paymentinquiry.js"></script>
    <link rel="stylesheet" href="/css/paymentpopup.css">
  </div>