<div th:fragment="list_all_fragment"> <!-- <div th:replace=... -->
  <table class="table table-hover">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 25%;'/>
      <col style='width: 25%;'/>  
      <col style='width: 15%;'/>
      <col style='width: 25%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">번호</th>
        <th class="th_bs">중분류</th>
        <th class="th_bs">소분류</th>
        <th class="th_bs">항목수</th>
        <th class="th_bs">순서 / 기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="categoryVO, status:${list}">
        <td class="td_bs" th:text="|${(now_page-1) * 5 + status.index + 1}|"></td>
        <td class="td_bs"><a th:href="@{|/admin/category/read/${categoryVO.c_no}?word=${word}&now_page=${now_page}|}" style="display: block;" th:text="${categoryVO.c_name}"></a></td>
        <td class="td_bs"><a th:href="@{|/admin/category/read/${categoryVO.c_no}?word=${word}&now_page=${now_page}|}" style="display: block;" th:text="${categoryVO.c_subname}"></a></td>
        <td class="td_bs" th:text="${categoryVO.c_cnt}"></td>
        <td class="td_bs">
          <span th:text="${categoryVO.c_seq}" style="margin-right: 3px;"></span>              
          <a th:href="@{|/admin/category/update_seqno_forward/${categoryVO.c_no}?word=${word}&now_page=${now_page}|}"><img src="/admin/category/images/decrease.png" class="icon"></a>
          <a th:href="@{|/admin/category/update_seqno_backward/${categoryVO.c_no}?word=${word}&now_page=${now_page}|}"><img src="/admin/category/images/increase.png" class="icon"></a>
          <a th:href="@{|/admin/category/update/${categoryVO.c_no}?word=${word}&now_page=${now_page}|}"><img src="/admin/category/images/update.png" class="icon"></a>
          <a th:href="@{|/admin/category/delete/${categoryVO.c_no}?word=${word}&now_page=${now_page}|}"><img src="/admin/category/images/delete.png" class="icon"></a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>











