<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; margin:40px auto; text-align: center;">

  <link href="/fotorama/fotorama.css" rel="stylesheet">
  <script src="/fotorama/fotorama.js"></script>
  
    <div class="title_line">
    부츠/워커> 부츠
  </div>

    <div>
      <div class="content_body">
        <div class="shoes">
          <img src="/images/crocs.jpg" alt="부츠1">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/vans.jpg" alt="부츠2">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/crocs.jpg" alt="부츠3">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/nike2.jpg" alt="부츠4">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>크록스</p>
          <p>가격</p>
        </div>
      </div>

      <div class="content_body">
        <div class="shoes">
          <img src="/images/adidas.jpg" alt="부츠5">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름1</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/slipper.jpg" alt="부츠6">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름2</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/NB.jpg" alt="부츠7">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름3</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/nike.jpg" alt="부츠8">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름4</p>
          <p>가격</p>
        </div>
      </div>


      <div class="content_body">
        <div class="shoes">
          <img src="/images/VLTN.jpg" alt="부츠9">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름1</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/puma.jpg" alt="부츠10">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름2</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/roper.jpg" alt="부츠11">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름3</p>
          <p>가격</p>
        </div>
        <div class="shoes">
          <img src="/images/sandals.jpg" alt="부츠12">
          <p>설명</p>
          <div class="menu_line"></div>
          <p>사용자 이름4</p>
          <p>가격</p>
        </div>
      </div>


    </div>


</html>