<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->

<div layout:fragment="content">
  <script src="/js/review/review.js"></script>
  <link rel="stylesheet" href="/css/report/style.css">

  <body>

    <div class="detail_container">
      <h1 class="title" th:text="${shoesAllVO.shoesVO.title}"></h1>
      <div id="wrap" class="product">
        <img src="/images/nike.jpg" alt="스니커즈1">
        <div class="content">
          <p>상품 설명 </p>
          <p>가격:</p>
        </div>
        <td>
          <div class="content">
            <h3 for="sizes" style="text-align: center;">SIZE</h3>
            <p style="text-align: center; text-align: center;">[필수] 옵션을 선택해주세요</p>

            <select name="sizes" id="sizes" class="form-control form-control-sm"
              style="width: 50%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; text-align: center; ">
              <option value="">사이즈를 선택하세요</option>
              <option th:each="size : ${sizes}" th:value="${size}" th:text="${size}"></option>
            </select>
            <br>
            <h3 for="sizes" style="text-align: center;">색상</h3>
            <p style="text-align: center; text-align: center;">[필수] 옵션을 선택해주세요</p>

            <select name="color" id="color" class="form-control form-control-sm"
              style="width: 50%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; text-align: center;">
              <option value="">사이즈를 선택하세요</option>
              <option th:each="color : ${color}" th:value="${color}" th:text="${color}"></option>
            </select>

            <div class="content">
              <button class="detail_btnl">장바구니</button>
              <button class="detail_btnr">구매하기</button>
            </div>

          </div>
        </td>
      </div>


      <!-- //상품상세정보 -->
      <!-- //상품구매안내 -->
      <!-- 상품사용후기 -->
      <h2 class="title">상품후기<span class="all">
          <a href="/shoes/review_list_all?shoesno=1">
            상품 후기 모두보기
          </a>
          <i class="bi bi-chevron-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
            </svg></i>
        </span>
      </h2>

      <div class="review" th:each="review : ${review}">
        <div class="rating">평점: <span class="stars" th:text="${review.reviewVO.grade}"></span>

        </div>
        <div class="username">닉네임: <span th:text="${review.memberVO.nickname}"></span></div>
        <div class="content" th:text="${review.reviewVO.contents}"></div>
        <div class="date" th:text="${#dates.format(review.reviewVO.rdate, 'yy/MM/dd')}"></div>
        <div class="like-btn">
          <button>좋아요</button> <!-- 좋아요 버튼 추가 -->
          <span class="menu_devide">│</span>
          <a href="#" class="btn btn-link report" th:data-nickname="${review.memberVO.nickname}"
            th:data-reviewno="${review.reviewVO.reviewno}">신고</a>
        </div>
      </div>

      <div id="popup" class="popup">
        <div class="popup-content">
          <span class="close-btn">&times;</span>
          <h2>신고</h2>
          <input type="hidden" id="reviewno">
          <p id="reportnickname">신고 대상:</p>
          신고 유형<br>
          <select name="reportType" id="reportType" class="form-control form-control-sm"
            style="width: 50%; margin: 0 auto; margin-top: 8px; margin-bottom: 20px; text-align: center;">

            <option value="">신고 유형을 선택하세요</option>
            <option th:each="reportType : ${reportType}" th:value="${reportType.typeno}" th:text="${reportType.type}">
            </option>
          </select>

          <div class="mb-3">
            <label for="reportTitle" class="form-label">신고 제목:</label>
            <input type="text" class="form-control" id="reportTitle" name="reportTitle" required>
          </div>

          <!-- 신고 내용 입력란 -->
          <div class="mb-3">
            <label for="reportContents" class="form-label">신고 내용:</label>
            <textarea class="form-control" required id="reportContents" name="reportContents" rows="4"></textarea>
          </div>

          <button type="button" class="btn btn-secondary" id="createReport">신고하기</button>
        </div>
      </div>

      <!-- 후기 답글 -->
      <div class="widget_item_comment_container">
        <div class="widget_answer_img"></div>
        <div class="widget_item_comment_content">
          <p>내용<br></p>
          <div class="widget_item_comment_content_1">운영자</div>
        </div>
      </div>
      <div class="between_line"></div>
      <!-- 후기 답글 끝-->

    </div>




  </body>


</html>