<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    <span th:text="${shoesVO.title}" style="font-size: 30px;" class="title_line_text"></span>
    > 옵션 등록
  </div>
  <aside class="aside_right">
    <a href="/shoes/list_all?now_page=1">목록</a>
    <span class="menu_devide">│</span>
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  <div class="top_menu_line"></div>
  <div>
    <form th:object="${shoesoptionVO}" method="post" action="/shoes/option_create">
      <input type="hidden" name="optionno" th:value="${shoesoptionVO.optionno}">
      <input type="hidden" name="shoesno" th:value="${shoesoptionVO.shoesno}">
      <input type="hidden" name="word" th:value="${word}">
      <input type="hidden" name="now_page" th:value="${now_page}">
      <div>
        <label>사이즈</label>
        <input type="text" name="sizes" value="1" autofocus="autofocus" class="form-control form-control-sm"
          style="width: 20%; margin: 0 auto; text-align: center;">
      </div>

      <div>
        <label>색상</label>
        <input type="text" name="color" value="1" autofocus="autofocus" class="form-control form-control-sm"
          style="width: 20%; margin: 0 auto; text-align: center;">
      </div>

      <div>
        <label>신발 번호</label>
        <input type="text" name="shoesno" value="" th:value="${shoesoptionVO.shoesno}" autofocus="autofocus"
          class="form-control form-control-sm" style="width: 20%; margin: 0 auto; text-align: center;" readonly>
      </div>

      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" onclick="location.href='../list_all'" class="btn btn-secondary btn-sm">목록</button>

    </form>
  </div>
</div>
</body>

</html>