<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; margin:40px auto; text-align: center;">

  <link href="/fotorama/fotorama.css" rel="stylesheet">
  <script src="/fotorama/fotorama.js"></script>

  <div class="title_line">
    운동화/러닝화> 러닝화
  </div>

  <div>
    <div class="content_body">
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
    </div>

    <div class="content_body">
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
    </div>


    <div class="content_body">
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="러닝화">
        <p>설명</p>
        <p>러닝화</p>
        <p>가격</p>
      </div>
    </div>
    
<!-- 더보기 메뉴-->
    <div class="moreMenuContainer">
      <button id="moreButton" class="btn-secondary">더보기</button>
      <div class="moreMenu" style="display: none;">
        <div class="content_body">
          <div class="shoes">
            <img src="/images/" alt="러닝화7">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화8">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화9">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화10">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화11">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화12">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
        </div>

        <div class="content_body">
          <div class="shoes">
            <img src="/images/" alt="러닝화13">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화14">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화15">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화16">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화17">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="러닝화18">
            <p>설명</p>
            <p>러닝화</p>
            <p>가격</p>
          </div>
        </div>
      </div>


    </div>


</html>