<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; margin:40px auto; text-align: center;">

  <link href="/fotorama/fotorama.css" rel="stylesheet">
  <script src="/fotorama/fotorama.js"></script>
  <script src="/js/morebutton.js"></script>

  <div class="title_line">
    샌들/슬리퍼> 샌들
  </div>

  <div class="content_main">
    <div class="content_body">
      <div class="shoes">
        <img src="/images/" alt="샌들1">
        <p>설명</p>
        <p>샌들</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들2">
        <p>설명</p>
        <p>샌들</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들3">
        <p>설명</p>
        <p>샌들</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들4">
        <p>설명</p>
        <p>샌들</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들5">
        <p>설명</p>
        <p>샌들</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들6">
        <p>설명</p>
        <p>샌들</p>
        <p>가격</p>
      </div>
    </div>

    <div class="content_body">
      <div class="shoes">
        <img src="/images/" alt="샌들7">
        <p>설명</p>
        <p>사용자 이름1</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들8">
        <p>설명</p>
        <p>사용자 이름2</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들9">
        <p>설명</p>
        <p>사용자 이름3</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들10">
        <p>설명</p>
        <p>사용자 이름4</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들11">
        <p>설명</p>
        <p>사용자 이름4</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들12">
        <p>설명</p>
        <p>사용자 이름4</p>
        <p>가격</p>
      </div>
    </div>


    <div class="content_body">
      <div class="shoes">
        <img src="/images/" alt="샌들13">
        <p>설명</p>
        <p>사용자 이름1</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들14">
        <p>설명</p>
        <p>사용자 이름2</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들15">
        <p>설명</p>
        <p>사용자 이름3</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들16">
        <p>설명</p>
        <p>사용자 이름4</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들17">
        <p>설명</p>
        <p>사용자 이름4</p>
        <p>가격</p>
      </div>
      <div class="shoes">
        <img src="/images/" alt="샌들18">
        <p>설명</p>
        <p>사용자 이름4</p>
        <p>가격</p>
      </div>
    </div>

    <!-- 더보기메뉴 -->
    <div class="moreMenuContainer">
      <a id="moreButton" style="font-size: 20px;">더보기+</a>
      <div class="moreMenu" style="display: none;">
        <div class="content_body">
          <div class="shoes">
            <img src="/images/" alt="샌들19">
            <p>설명</p>
            <p>스니커즈</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들20">
            <p>설명</p>
            <p>스니커즈</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들21">
            <p>설명</p>
            <p>스니커즈</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들22">
            <p>설명</p>
            <p>스니커즈</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들23">
            <p>설명</p>
            <p>스니커즈</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들24">
            <p>설명</p>
            <p>스니커즈</p>
            <p>가격</p>
          </div>
        </div>

        <div class="content_body">
          <div class="shoes">
            <img src="/images/" alt="샌들25">
            <p>설명</p>
            <p>사용자 이름1</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들26">
            <p>설명</p>
            <p>사용자 이름2</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들27">
            <p>설명</p>
            <p>사용자 이름3</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들28">
            <p>설명</p>
            <p>사용자 이름4</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들29">
            <p>설명</p>
            <p>사용자 이름4</p>
            <p>가격</p>
          </div>
          <div class="shoes">
            <img src="/images/" alt="샌들30">
            <p>설명</p>
            <p>사용자 이름4</p>
            <p>가격</p>
          </div>
        </div>
      </div>

    </div>


</html>