<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <body>

    <div class="">
      <div class="">
        <div style="margin:0 auto;">
          <h3 class="title">고객센터</h3><!---->
        </div><!---->
      </div>
      <div style="margin:0 auto">
        <table>
          <colgroup class="">
            <col style="width:70px;">
            <col style="width:80px;">
            <col style="width:130px;" class="displaynone">
            <col style="width:auto;">
            <col style="width:84px;">
            <col style="width:77px;" class="displaynone">
            <col style="width:55px;" class="displaynone">
            <col style="width:55px;" class="displaynone">
            <col style="width:80px;" class="displaynone">
          </colgroup>
          <thead class="">
            <tr>
              <th scope="col"> no</th>
              <th scope="col">product</th>
              <th scope="col" class="displaynone">category</th>
              <th scope="col">title</th>
              <th scope="col">writer</th>
              <th scope="col" class="displaynone">date</th>
              <th scope="col" class="displaynone">hit</th>
              <th scope="col" class="displaynone">추천</th>
              <th scope="col" class="displaynone">평점</th>
            </tr>
          </thead>
          <tbody class=""><!--
        $count = 5
        $product_name_cut = 30
        $login_page_url = /member/login.html
        $deny_access_url = /index.html
    -->
            <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
              <td> 공지</td>
              <td class="thumb left0"><a href="/product/$1/$2/"><span></span></a></td>
              <td class="displaynone"></td>
              <td class="subject left txtBreak">
                <span class="displaynone">
                  <a href="#none" onclick="BOARD.viewTarget('9079','6',this);"><img
                      src="//img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기"></a>
                </span>
                <strong> <a href="/article/문의/6/9079/" style="color:#555555;">네이버페이 도서산간 추가배송비 안내</a> <span
                    class="txtEm"></span></strong>
              </td>
              <td>운영자</td>
              <td class="displaynone"><span class="txtNum">2020-12-07</span></td>
              <td class="displaynone"><span class="txtNum">104</span></td>
              <td class="displaynone"><span class="txtNum">0</span></td>
              <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점">
              </td>
            </tr>
            <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
              <td> 공지</td>
              <td class="thumb left0"><a href="/product/$1/$2/"><span></span></a></td>
              <td class="displaynone"></td>
              <td class="subject left txtBreak">
                <span class="displaynone">
                  <a href="#none" onclick="BOARD.viewTarget('7815','6',this);"><img
                      src="//img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기"></a>
                </span>
                <strong> <a href="/article/문의/6/7815/" style="color:#555555;">자주하는 질문</a> <span
                    class="txtEm"></span></strong>
              </td>
              <td>운영자</td>
              <td class="displaynone"><span class="txtNum">2020-08-06</span></td>
              <td class="displaynone"><span class="txtNum">443</span></td>
              <td class="displaynone"><span class="txtNum">0</span></td>
              <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점">
              </td>
            </tr>
            <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
              <td> 공지</td>
              <td class="thumb left0"><a href="/"><span></span></a></td>
              <td class="displaynone"></td>
              <td class="subject left txtBreak">
                <span class="displaynone">
                  <a href="#none" onclick="BOARD.viewTarget('7583','6',this);"><img
                      src="//img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기"></a>
                </span>
                <strong> <a href="/article/문의/6/7583/" style="color:#555555;">쿠폰 사용 안내</a> <span
                    class="txtEm"></span></strong>
              </td>
              <td>운영자</td>
              <td class="displaynone"><span class="txtNum">2020-07-10</span></td>
              <td class="displaynone"><span class="txtNum">162</span></td>
              <td class="displaynone"><span class="txtNum">0</span></td>
              <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점">
              </td>
            </tr>
            <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
              <td> 공지</td>
              <td class="thumb left0"><a href="/"><span></span></a></td>
              <td class="displaynone"></td>
              <td class="subject left txtBreak">
                <span class="displaynone">
                  <a href="#none" onclick="BOARD.viewTarget('7536','6',this);"><img
                      src="//img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기"></a>
                </span>
                <strong> <a href="/article/문의/6/7536/" style="color:#555555;">7월/8월 카드사 무이자 할부 안내</a> <span
                    class="txtEm"></span></strong>
              </td>
              <td>운영자</td>
              <td class="displaynone"><span class="txtNum">2020-07-01</span></td>
              <td class="displaynone"><span class="txtNum">152</span></td>
              <td class="displaynone"><span class="txtNum">0</span></td>
              <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점">
              </td>
            </tr>
            <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
              <td> 공지</td>
              <td class="thumb left0"><a href="/product/$1/$2/"><span></span></a></td>z
              <td class="displaynone"></td>
              <td class="subject left txtBreak">
                <span class="displaynone">
                  <a href="#none" onclick="BOARD.viewTarget('7224','6',this);"><img
                      src="//img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기"></a>
                </span>
                <strong> <a href="/article/문의/6/7224/" style="color:#555555;">교환 및 반품 신청안내</a> <span
                    class="txtEm"></span></strong>
              </td>
              <td>운영자</td>
              <td class="displaynone"><span class="txtNum">2020-05-08</span></td>
              <td class="displaynone"><span class="txtNum">236</span></td>
              <td class="displaynone"><span class="txtNum">0</span></td>
              <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin:0 auto"
        class="xans-element- xans-board xans-board-buttonlist-4 xans-board-buttonlist xans-board-4  ec-base-button typeBG ">
        <span class="gRight">
          <a href="/shoes/servicecenter_create" class="">글쓰기</a>
        </span>
      </div>
    </div>

  </body>

</html>